{% extends "base.html" %}

{% block title %} 账户管理 {% endblock %}

{% block content %}

<h1> {{ account_name }}</h1>

<form method="post">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
<input type="submit" value="Add Record" />
</form>

<a href="{% url 'financial:cash_flow_page' %}">现金流</a><br/>


<table>
  <tr>
    <th>Delete</th>
    <th>Date</th>
    <th>Money</th>
  </tr>
{% for record in record_list %}
  <tr>
    <td> <a href="{% url 'financial:delete_record' record.account_id record.id %}">Delete</a> </td>
    <td> {{ record.date }} </td>
    <td> {{ record.money }} </td>
  </tr>
{% endfor %}
</table>

{% endblock %}
