<table class="platforms">
  <tr>
    <th class="checkable">
      <md-checkbox aria-label="Select All"
          class="in-table-check-box"
          ng-checked="isAllChecked()"
          md-indeterminate="isIndeterminate()"
          ng-click="toggleAll()">
      平台
      </md-checkbox>
    </th>
    <th>最后更新</th>
  </tr>
  <tr ng-repeat="platform in platformsArray | orderBy:'-fields.last_update_time'">
    <td class="checkable">
    <md-checkbox ng-checked="exists(platform.pk, selected)"
        class="in-table-check-box"
        ng-click="toggle(platform.pk, selected)">
      {{ platform.fields.name }}
    </md-checkbox>
    </td>
    <td> {{ platform.fields.last_update_time | date:"yyyy-M-d HH:mm" }} </td>
  </tr>
</table>

<div>
  <ul class='nav' ng-init="monthFilter = 'all'">
    <li ng-click='filterMonth(null, null, "all")' ng-class="{clicked: monthFilter=='all'}">所有期限</li>
    <li ng-click='filterMonth(0, 1, "0-1")' ng-class="{clicked: monthFilter=='0-1'}">1个月以内</li>
    <li ng-click='filterMonth(1, 3, "1-3")' ng-class="{clicked: monthFilter=='1-3'}">1到3个月</li>
    <li ng-click='filterMonth(3, null, "3-null")' ng-class="{clicked: monthFilter=='3-null'}">3个月以上</li>
  </ul>
</div>
<p>单页展示30条
<table>
  <tr>
    <th class='platform-name sortable'
        ng-class="{orderedBy: predicate == 'fields.platform'}"
        ng-click="order('fields.platform')">
      平台
      <i ng-show="predicate === 'fields.platform'"
          ng-class="{'fa fa-sort-desc':reverse, 'fa fa-sort-asc':!reverse}" aria-hidden="true"></i>
    </th>
    <th class="loan-name sortable"
        ng-class="{orderedBy: predicate == 'fields.name'}"
        ng-click="order('fields.name')">
      标名
      <i ng-show="predicate === 'fields.name'"
          ng-class="{'fa fa-sort-desc':reverse, 'fa fa-sort-asc':!reverse}" aria-hidden="true"></i>
    </th>
    <th class="for-new-member sortable"
        ng-class="{orderedBy: predicate == 'fields.for_new_member'}"
        ng-click="order('fields.for_new_member')">
      新手标
      <i ng-show="predicate === 'fields.for_new_member'"
          ng-class="{'fa fa-sort-desc':reverse, 'fa fa-sort-asc':!reverse}" aria-hidden="true"></i>
    </th>
    <th class="duration sortable"
        ng-class="{orderedBy: predicate == 'fields.duration'}"
        ng-click="order('fields.duration')">
      期限
      <i ng-show="predicate === 'fields.duration'"
          ng-class="{'fa fa-sort-desc':reverse, 'fa fa-sort-asc':!reverse}" aria-hidden="true"></i>
    </th>
    <th class="year-rate sortable"
        ng-class="{orderedBy: predicate == 'fields.year_rate'}"
        ng-click="order('fields.year_rate')">
      年化利率
      <i ng-show="predicate === 'fields.year_rate'"
          ng-class="{'fa fa-sort-desc':reverse, 'fa fa-sort-asc':!reverse}" aria-hidden="true"></i>
    </th>
    <th class='available-money sortable'
        ng-class="{orderedBy: predicate == 'fields.available_money'}"
        ng-click="order('fields.available_money')">
      可投金额
      <i ng-show="predicate === 'fields.available_money'"
          ng-class="{'fa fa-sort-desc':reverse, 'fa fa-sort-asc':!reverse}" aria-hidden="true"></i>
    </th>
  </tr>
  <tr ng-repeat="loan in loans | filter:filterByPlatform | orderBy:predicate:reverse | limitTo: 30"
      ng-class-odd="'odd'" ng-class-even="'even'">
    <td class='platform-name' > {{ platforms[loan.fields.platform].name }}  </td>
    <td class="loan-name">  <a target="_blank" href="{{ loan.fields.link }}"> {{ loan.fields.name }} </a> </td>
    <td class="for-new-member">
      <img ng-src="/static/polls/images/for-new-member-icon.png" ng-show="loan.fields.for_new_member">
    </td>
    <td class="duration"> {{ loan.fields.duration | showDuration }} </td>
    <td class="year-rate">
      <i style="float: left" ng-show="platforms[loan.fields.platform].interest_manage_rate > 0"
          class="fa fa-question-circle" aria-hidden="true">
      <md-tooltip md-direction="top"> 已扣除利息管理费 {{ platforms[loan.fields.platform].interest_manage_rate }} % </md-tooltip>
      </i>
      {{ loan.fields.year_rate | number:1 }} % </td>
    <td class="available-money"> {{ loan.fields.available_money | number:0 }} </td>
  </tr>
</table>

<!-- TODO: Add pagenation -->
