{% load staticfiles %}
<html ng-app="p2pApp">
  <head>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script> -->
    <script src="//cdn.bootcss.com/angular.js/1.5.0/angular.min.js"></script>
    <script src="{% static 'p2p/js/controllers.js' %} "></script>
    <script src="{% static 'p2p/js/filters.js' %} "></script>
    <link rel="stylesheet" type="text/css" href="{% static 'p2p/style.css' %}" />
  </head>
  <body>
    <div ng-controller="P2pController">
      <div p2p-container></div>
    </div>
  </body>
</html>
